@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  margin: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  /* my dark styling */
  background-color: rgb(19, 17, 17);
  color: rgb(236, 222, 222);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid red;
  height: 90vh;
  width: 90vw;
}

.game_screen {
  display: flex;
  flex-direction: column;
}

.display_area {
  display: flex;
  border: 1px gold solid;
  height: 40vh;
  width: 60vw;
  padding: 20px;
}

.player_info {
  border: 1px rgb(80, 61, 26) dotted;
  height: 10vh;
  width: 60vw;
}

.control_area {
  border: 1px orange dotted;
  height: 15vh;
  width: 60vw;
  display: flex;
}

.player_input_container {
  align-items: center;
  justify-content: center;
  display: flex;
}

#player_input_field {
  font-size: 1.1em;
  width: 40vw;
  padding: 10px;
  margin-left: 100px;
  border-radius: 8px;
  border: none;
  background-color: rgb(29, 50, 50);
  color: white;
}

.input-btn {
  width: 40px;
  height: 40px;
  background-color: aqua;
  color: black;
  margin: 6px;
}

#northBtn {
  margin-bottom: 30px;
}

#cardinalDirection {
  font-size: 0.7em;
}
